res/values-af/ext_strings.xml merge=ours
res/values-am/ext_strings.xml merge=ours
res/values-ar/ext_strings.xml merge=ours
res/values-as-rIN/ext_strings.xml merge=ours
res/values-ast-rES/ext_strings.xml merge=ours
res/values-az/ext_strings.xml merge=ours
res/values-b+sr+Latn/ext_strings.xml merge=ours
res/values-be/ext_strings.xml merge=ours
res/values-bg/ext_strings.xml merge=ours
res/values-bn/ext_strings.xml merge=ours
res/values-br-rFR/ext_strings.xml merge=ours
res/values-bs/ext_strings.xml merge=ours
res/values-ca/ext_strings.xml merge=ours
res/values-cs/ext_strings.xml merge=ours
res/values-csb/ext_strings.xml merge=ours
res/values-cy/ext_strings.xml merge=ours
res/values-da/ext_strings.xml merge=ours
res/values-de/ext_strings.xml merge=ours
res/values-el/ext_strings.xml merge=ours
res/values-en-rAU/ext_strings.xml merge=ours
res/values-en-rCA/ext_strings.xml merge=ours
res/values-en-rGB/ext_strings.xml merge=ours
res/values-en-rIN/ext_strings.xml merge=ours
res/values-en-rPT/ext_strings.xml merge=ours
res/values-eo/ext_strings.xml merge=ours
res/values-es/ext_strings.xml merge=ours
res/values-es-rCO/ext_strings.xml merge=ours
res/values-es-rMX/ext_strings.xml merge=ours
res/values-es-rUS/ext_strings.xml merge=ours
res/values-et/ext_strings.xml merge=ours
res/values-eu/ext_strings.xml merge=ours
res/values-fa/ext_strings.xml merge=ours
res/values-fi/ext_strings.xml merge=ours
res/values-fil/ext_strings.xml merge=ours
res/values-fr/ext_strings.xml merge=ours
res/values-fr-rCA/ext_strings.xml merge=ours
res/values-frp/ext_strings.xml merge=ours
res/values-fy-rNL/ext_strings.xml merge=ours
res/values-ga-rIE/ext_strings.xml merge=ours
res/values-gd/ext_strings.xml merge=ours
res/values-gl/ext_strings.xml merge=ours
res/values-gu/ext_strings.xml merge=ours
res/values-hi/ext_strings.xml merge=ours
res/values-hr/ext_strings.xml merge=ours
res/values-hu/ext_strings.xml merge=ours
res/values-hy/ext_strings.xml merge=ours
res/values-in/ext_strings.xml merge=ours
res/values-is/ext_strings.xml merge=ours
res/values-it/ext_strings.xml merge=ours
res/values-iw/ext_strings.xml merge=ours
res/values-ja/ext_strings.xml merge=ours
res/values-ka/ext_strings.xml merge=ours
res/values-kab-rDZ/ext_strings.xml merge=ours
res/values-kk/ext_strings.xml merge=ours
res/values-km/ext_strings.xml merge=ours
res/values-kn/ext_strings.xml merge=ours
res/values-ko/ext_strings.xml merge=ours
res/values-ku/ext_strings.xml merge=ours
res/values-ky/ext_strings.xml merge=ours
res/values-lb/ext_strings.xml merge=ours
res/values-lo/ext_strings.xml merge=ours
res/values-lt/ext_strings.xml merge=ours
res/values-lv/ext_strings.xml merge=ours
res/values-mk/ext_strings.xml merge=ours
res/values-ml/ext_strings.xml merge=ours
res/values-mn/ext_strings.xml merge=ours
res/values-mr/ext_strings.xml merge=ours
res/values-ms/ext_strings.xml merge=ours
res/values-my/ext_strings.xml merge=ours
res/values-nb/ext_strings.xml merge=ours
res/values-ne/ext_strings.xml merge=ours
res/values-nl/ext_strings.xml merge=ours
res/values-oc/ext_strings.xml merge=ours
res/values-or-rIN/ext_strings.xml merge=ours
res/values-pa/ext_strings.xml merge=ours
res/values-pl/ext_strings.xml merge=ours
res/values-pt/ext_strings.xml merge=ours
res/values-pt-rBR/ext_strings.xml merge=ours
res/values-pt-rPT/ext_strings.xml merge=ours
res/values-rm/ext_strings.xml merge=ours
res/values-ro/ext_strings.xml merge=ours
res/values-ru/ext_strings.xml merge=ours
res/values-sc-rIT/ext_strings.xml merge=ours
res/values-si/ext_strings.xml merge=ours
res/values-sk/ext_strings.xml merge=ours
res/values-sl/ext_strings.xml merge=ours
res/values-sq/ext_strings.xml merge=ours
res/values-sr/ext_strings.xml merge=ours
res/values-sv/ext_strings.xml merge=ours
res/values-sw/ext_strings.xml merge=ours
res/values-ta/ext_strings.xml merge=ours
res/values-te/ext_strings.xml merge=ours
res/values-th/ext_strings.xml merge=ours
res/values-tl/ext_strings.xml merge=ours
res/values-tr/ext_strings.xml merge=ours
res/values-ug/ext_strings.xml merge=ours
res/values-uk/ext_strings.xml merge=ours
res/values-ur/ext_strings.xml merge=ours
res/values-uz/ext_strings.xml merge=ours
res/values-vec/ext_strings.xml merge=ours
res/values-vi/ext_strings.xml merge=ours
res/values-zh-rCN/ext_strings.xml merge=ours
res/values-zh-rHK/ext_strings.xml merge=ours
res/values-zh-rTW/ext_strings.xml merge=ours
res/values-zu/ext_strings.xml merge=ours